<strong>Olá</strong>
<p> O seu professor acabou de te responder!</p>
<p>
    <strong>Sobre: </strong> {{ question }} <br/>
    <strong>Resposta: </strong> {{result}}<br/>
    <strong>Data resposta: </strong> {{date}} <br/>
    <br/>
    <small>
        "O sucesso está presente naquele que, mesmo sob uma coroa de espinhos, segue á diante."
    </small> <br/>
    <small>
        "Qual é a sua coroa?"
    </small>
</p>
